[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "==7.19.0"
jupyter = "==1.0.0"
matplotlib = "==3.3.3"
numpy = "==1.19.5"
pandas = "==1.2.0"
scipy = "==1.6.0"
seaborn = "==0.11.1"
tqdm = "==4.55.1"
altair = "*"
vega-datasets = "*"
notebook = "*"
vega = "*"
altair-saver = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.version_information]
git = "https://github.com/ahmedsalhin/version_information"
